* {
  /* outline: 1px solid limegreen; */
}


html,
body,
#root {
  height: 100%;
}

body::-webkit-scrollbar {
	width: 0.75rem;
}

body::-webkit-scrollbar-track {
	background: rgb(255, 255, 255);
	border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
	background: #006ce4;
	border-radius: 10px;
}

.container-fluid {
  padding-left: 0  !important;
  padding-right: 0  !important;
}

.side-navbar{
  position: fixed;
  left: 0;
  transition: width 300ms ease;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1em 0;
	box-shadow: 21px 2px 48px -1px rgba(0, 0, 0, 0.09);
	transition: width 300ms ease;
	z-index: 2;
	overflow: hidden;
}

.side-navbar:hover .nav-arrow{
  transform: rotate(-180deg) translateX(-2rem);
}

.inner-navbar{
  padding-inline-start: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: .25em;
  width: 100%;
}

.side-navbar:last-child{
  margin-top: auto;
}


.side-navbar:hover .logo svg{
  transform: rotate(180deg);
  margin-left: 1em;
}

.nav-item{
  display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0.5em 0.3em;
	color: #006ce4;
  column-gap: 10px;
	font-size: 1.5em;
	font-weight: 500;
	filter: grayscale(100%) opacity(0.7);
	transition: filter 400ms;
	width: 100%;
}

.nav-item > svg {
  font-size: 2em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: .4em;
  min-width: 3rem;
  margin-right: 1rem;
}

.logo svg{
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.3ch;
  transform: rotate(0deg);
  transition: transform 500ms;
}

.nav-item:hover{
		filter: grayscale(0%) opacity(1);
}
 
.nav-link{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.nav-link:hover{
  background-color: rgb(238, 237, 237);
}


.link-text,
.title-text{
  display: none;
  white-space: nowrap;
}

.title-text{
  font-size: 1.2em;
  padding-left: 1em;
}

@media only screen and (max-width: 600px) {
  .side-navbar{
    bottom:0;
    width: 100vw;
    height: 5rem;
    padding: 0;
  }

  .logo {
    display: none;
  }

  .inner-navbar {
    flex-direction: row;
  }

  .nav-link{
    justify-content: center;
  }


}

@media only screen and (min-width: 600px) {
  .side-navbar{
    top: 0;
    height: 100% ;
    width: 5rem;
  }

  .side-navbar:hover{
    width: 16rem;
  }

  .side-navbar:hover .link-text,
  .side-navbar:hover .title-text{
    display: block;
}

}