.navbar {
  
}

.inner-navbar{
  padding-inline-start: '0';
          list-style: 'none';
          display: 'flex';
          flex-direction: 'column';
          justify-content: 'space-around';
          align-items: 'center';
          row-gap: '1em';
          width: '100%';
}

.navbar:hover{

}